$gray-1: #212121;
$gray-2: #424242;
$gray-3: #616161;
$gray-4: #BABABA;
$gray-5: #E0E0E0;
$gray-6: #FAFAFA;

$blue-1: #00496C;
$blue-2: #006494;
$blue-3: #458EB1;
$blue-4: #5C9CBA;
$blue-5: #8BB8CE;
$blue-6: #AACBDB;

$green-1: #00432A;
$green-2: #005C43;
$green-3: #028f76;
$green-4: #35C2A9;
$green-5: #4FDCC3;
$green-6: #68F5DC;

// $green-1: #197575;
// $green-2: #21A0A0;
// $green-3: #49B1B1;
// $green-4: #71C2C2;
// $green-5: #9AD3D3;
// $green-6: #BCE2E2;

$red-1: #A9382C;
$red-2: #E74C3C;
$red-3: #EB6C5F;
$red-4: #EF8D82;
$red-5: #7E2A21;
$red-6: #F7C9C4;

$orange-1: #843F00;
$orange-2: #B05400;
$orange-3: #F17300;
$orange-4: #F38C2E;
$orange-5: #F6A55C;
$orange-6: #FBD8B9;
