$gray-1: #212121;
$gray-2: #424242;
$gray-3: #616161;
$gray-4: #BABABA;
$gray-5: #E0E0E0;
$gray-6: #FAFAFA;

$blue-1: #003269;
$blue-2: #06659C;
$blue-3: #3998CF;
$blue-4: #53B2E9;
$blue-5: #6CCBFF;
$blue-6: #85E4FF;

$green-1: #00432A;
$green-2: #005C43;
$green-3: #028f76;
$green-4: #35C2A9;
$green-5: #4FDCC3;
$green-6: #68F5DC;

$red-1: #A9382C;
$red-2: #E74C3C;
$red-3: #EB6C5F;
$red-4: #EF8D82;
$red-5: #7E2A21;
$red-6: #F7C9C4;

$orange-1: #843F00;
$orange-2: #B05400;
$orange-3: #F17300;
$orange-4: #F38C2E;
$orange-5: #F6A55C;
$orange-6: #FBD8B9;
