<header class="header app__header">
    <div class="app__logo">
        <a class="btn btn--image" [routerLink]='["/"]'>
            <img class="image image--logo" alt="Vinitore" src="https://www.fillmurray.com/140/100" />
        </a>
    </div>
    <div class="app__navigation">
        <nav class="nav">
            <div class="nav__item" [routerLinkActive]='["nav__item--active"]' [routerLinkActiveOptions]='{ exact: true }'>
                <a class="nav__item-link" [routerLink]='["/"]'>Home</a>
            </div>
            <div class="nav__item" [routerLinkActive]='["nav__item--active"]'>
                <a class="nav__item-link" [routerLink]='["/counter"]'>Counter</a>
            </div>
            <div class="nav__item" [routerLinkActive]='["nav__item--active"]'>
                <a class="nav__item-link" [routerLink]='["/fetch-data"]'>Fetch Data</a>
            </div>
        </nav>
    </div>
</header>