<header class="header app__header">
    <div class="app__logo">
        <a class="link" [routerLink]='["/"]'>
            <img class="image image--logo" alt="Vinitore" src="/assets/logo.svg" />
        </a>
    </div>
    <div class="app__navigation">
        <nav class="nav">
            <div class="nav__item">
                <a class="nav__item-link" 
                    [routerLink]='["/wines"]'
                    [routerLinkActive]='["nav__item-link--active"]'>Wines</a>
            </div>
            <div class="nav__item">
                <a class="nav__item-link" 
                    [routerLink]='["/barrels"]'
                    [routerLinkActive]='["nav__item-link--active"]'>Barrels</a>
            </div>
            <div class="nav__item">
                <a class="nav__item-link" 
                [routerLink]='["/analysis"]'
                [routerLinkActive]='["nav__item-link--active"]'>Analysis</a>
            </div>
        </nav>
    </div>
</header>