input {
    @include input-default();
}

.input {
    @include input-default();

    &.input--full-width {
        display: block;
        width: 100%;
    }

    &.input--rounded {
        border-radius: 40px;
    }
}