.radio {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &__input {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;

        &:checked {
            & + .radio__replacement {
                &:after {
                    background-color: $green-2;
                }
            }
        }
    }

    &__replacement {
        display: inline-block;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid $gray-4;
        }

        &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: white;
            top: 5px;
            left: 5px;
            transition: background-color 0.2s ease-out;
        }
    }

    &__label {
        margin-left: 10px;
    }
}