.app {
    border-top: 4px solid $green-3;
    padding-bottom: 40px;

    &__header {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 160px;
        margin-right: 20px;
    }

    &__navigation {

    }
}