@include generateModMarginClasses(5);
@include generateModMarginClasses(10);
@include generateModMarginClasses(15);
@include generateModMarginClasses(20);
@include generateModMarginClasses(25);
@include generateModMarginClasses(30);
@include generateModMarginClasses(40);

.mod-margin-top-none {
  margin-top: 0 !important;
}

.mod-margin-right-none {
  margin-right: 0 !important;
}

.mod-margin-bottom-none {
  margin-bottom: 0 !important;
}

.mod-margin-left-none {
  margin-left: 0 !important;
}

.mod-margin-none {
  margin: 0 0 0 0 !important;
}

@include generateModPaddingClasses(5);
@include generateModPaddingClasses(10);
@include generateModPaddingClasses(15);
@include generateModPaddingClasses(20);
@include generateModPaddingClasses(25);
@include generateModPaddingClasses(30);
@include generateModPaddingClasses(35);
@include generateModPaddingClasses(40);

.mod-padding-top-none {
  padding-top: 0 !important;
}

.mod-padding-right-none {
  padding-right: 0 !important;
}

.mod-padding-bottom-none {
  padding-bottom: 0 !important;
}

.mod-padding-left-none {
  padding-left: 0 !important;
}

.mod-display-flex {
  display: flex;
}

.mod-align-center {
  align-items: center;
}

.mod-flex-grow {
  flex-grow: 1;
}