<h1>Barrel detail</h1>

<div class="card" *ngIf="!isLoading">
    <div class="mod-display-flex mod-align-center">
        <div class="mod-flex-grow">
            <h2 class="mod-margin-top-none">{{ barrel.name }}</h2>
            <div class="mod-margin-top-10">
                <span class="subtitle subtitle--uppercased">Type:</span> {{ getBarrelType(barrel.type) }}
            </div>
            <div class="mod-margin-top-5">
                <span class="subtitle subtitle--uppercased">Wine:</span> 
                <a class="link link--blue" routerLink="/wines/{{barrel.wineId}}">{{ barrel.wineName }}</a> 
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn--danger mod-margin-right-10" (click)="openConfirmationModal()">
                <i class="far fa-trash-alt mod-margin-right-5"></i>
                Delete
            </button>
            <button class="btn btn--primary" routerLink="edit">
                <i class="far fa-edit mod-margin-right-5"></i>
                Edit
            </button>
        </div>
    </div>
    <div class="mod-margin-top-40">
        <h3 class="mod-margin-bottom-5">Barrels</h3>
        <div class="data-table-scroll-container">
            <table class="data-table">
                <thead>
                    <tr class="data-table__row">
                        <th class="data-table__col data-table__col--header">From barrel</th>
                        <th class="data-table__col data-table__col--header">To Barrel</th>
                        <th class="data-table__col data-table__col--header">Amount (l)</th>
                        <th class="data-table__col data-table__col--header">Date</th>
                    </tr>
                </thead>
                <tbody *ngIf="barrel.transfers && barrel.transfers.length > 0">
                    <tr *ngFor="let transfer of barrel.barrels" class="data-table__row">
                        <td class="data-table__col">
                            <a class="link link--blue" routerLink="{{barrel.id}}">
                                <strong class="data-table__main">
                                    {{ transfer.barrelFromName }}
                                </strong>
                            </a>
                        </td>
                        <td class="data-table__col">
                            {{ transfer.barrelToName }}
                        </td>
                        <td class="data-table__col">
                            {{ transfer.Amount }}
                        </td>
                        <td class="data-table__col">
                            {{ transfer.Date }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center mod-padding-30" *ngIf="!barrel.transfers || barrel.barrels.length === 0">
                <i>There are no barrel transfers</i>
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #myModal identifier="myModal">
    <div class="text-center">
        <h1>Delete barrel</h1>
        <p>Deleting this can't be undone</p>
        <div class="mod-margin-top-30">
            <button class="btn btn--link mod-margin-right-10" (click)="myModal.close()">Cancel</button>
            <button class="btn btn--danger"  (click)="deleteBarrel()">Delete</button>
        </div>
    </div>

</ngx-smart-modal>
