@mixin reset-link($color: $gray-3) {
    text-decoration: none;
    color: $color;
  
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: $color;
      text-decoration: none;
    }
}

@mixin button-variant(
    $color, 
    $background, 
    $border, 
    $color-hover, 
    $background-hover, 
    $border-hover
) {
    color: $color;
    background-color: $background;
    border-color: $border;
  
    &:hover,
    &:focus {
      color: $color-hover;
      background-color: $background-hover;
      border-color: $border-hover;
    }
  
    &[disabled] {
      opacity: 0.6;
      cursor: default;
  
      &:hover{
        color: $color;
        background-color: $background;
        border-color: $border;
      }
    }
}

@mixin button-link-variant(
    $color,
    $color-hover: darken($color, 10)
) {
    @include button-variant (
        $color,
        transparent,
        transparent,
        $color-hover,
        transparent,
        transparent
    );
}