@mixin reset-link($color: $gray-3) {
    text-decoration: none;
    color: $color;
  
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: $color;
      text-decoration: none;
    }
}

@mixin reset-button() {
    border: 0;
    box-shadow: 0;
    display: inline-block;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}

@mixin button-variant(
    $color, 
    $background, 
    $border, 
    $color-hover, 
    $background-hover, 
    $border-hover
) {
    color: $color;
    background-color: $background;
    border-color: $border;
  
    &:hover,
    &:focus {
      color: $color-hover;
      background-color: $background-hover;
      border-color: $border-hover;
    }
  
    &[disabled] {
      opacity: 0.6;
      cursor: default;
  
      &:hover{
        color: $color;
        background-color: $background;
        border-color: $border;
      }
    }

    &.btn--outline {
        color: $background;
        background-color: white;

        &:hover,
        &:focus {
            color: $background-hover;
            background-color: white;
            border-color: $border-hover;      
        }
    }
}

@mixin button-link-variant(
    $color,
    $color-hover: darken($color, 10)
) {
    @include button-variant (
        $color,
        transparent,
        transparent,
        $color-hover,
        transparent,
        transparent
    );
}

@mixin icon-base() {
    font-family: $icon-font;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
}

@mixin input-default() {
    font-family: $font-family-base;
    height: $input-height;
    line-height: $input-height;
    border-radius: 2px;
    border: $border-default;
    padding: 0 15px;
    color: $gray-3;
    font-size: 16px;
    transition: border-color $transition-base;
    display: inline-block;
    background-color: white;

    &:focus {
        border-color: $gray-4;
        outline: 0;
    }
}