.nav {
    display: flex;
    align-items: center;

    &__item {
        margin: 0 10px;
    }

    &__item-link {
        @include reset-link();
        display: block;
        font-weight: 600;
        border-bottom: 2px solid transparent;

        &.nav__item-link--active {
            @include reset-link($green-2);
            border-bottom-color: $green-2;
        }
    }
}