.data-table-scroll-container {
    overflow-x: auto;
}

.data-table {
    width: 100%;
    border-collapse: collapse;

    &--cards {
        display: block;
        width: 100%;

        thead {
            display: none;
        }

        tbody {
            display: flex;
            flex-wrap: wrap;
        }

        .data-table__row {
            display: block;
            max-width: 320px;
            width: 100%;
            padding: 20px;
            border-radius: 2px;
            box-shadow: $box-shadow-default;
            margin: 20px;
            background-color: white;

            &:nth-of-type(even) {
                background-color: white;
            }

            @media screen and (max-width: $screen-tablet) {
                margin: 10px;
                max-width: calc(50% - 20px);
            }

            @media screen and (max-width: 780px) {
                max-width: 100%;
            }
        }

        .data-table__col {
            display: block;
            min-width: auto;
        }

        .data-table__identifier {
            font-size: 14px;
            font-weight: 600;
            color: $gray-3;
            margin-right: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .data-table__main {
            font-size: 24px;
        }
    }
}

.data-table__row {
    &:nth-of-type(even) {
        background-color: lighten($gray-5, 7);
    }
}

.data-table__col {
    text-align: left;
    padding: 20px 20px;
    min-width: 195px;

    &.data-table__col--header {
        border-bottom: $border-default;
    }
}